body{
  color: #fff;
  font-family: "Montserrat";
}

.navigation-freelancer{
  background-color: #2c3e50;
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
  padding-top: 35px;
  font-size: 30px;
  font-weight: bold;
  
}

.navigation-freelancer>ul>li{
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
}

.green-section{
  background-color: #18bc9c;
  padding-top: 95px;
  text-align: center;
  font-size: 75px;
  font-weight: bolder;
  padding-bottom: 100px;
}

.green-section >p{
  padding-top: 30px;
}

.green-section .green-section-paragraph{
  padding-top: 0%;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.line {
  width: 250px;
  height: 1px;
  margin: 50px auto 0 auto;
  position: relative;
}

.line .fa-star {
  font-size: 27px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -25px;
}

.start .start-sub-p{
  font-family: Lato;
}

.portfolio{
  color: #2c3e50;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding-top: 80px;
}

.flex-container{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-left: 85px;
margin-right: 85px;
margin-bottom: 0;
padding-bottom: 85px;
}

.flex-container .imagens{
 height: 20%;
 width: 30%;
 margin: 0;
 margin-top: 35px;
}